body{
  margin: 0;
  padding: 0;
}


/* General styles for the navbar */
.navBar {
  display: flex;
  justify-content: center;
  background-color: hsla(24, 8%, 25%, 0.5);
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

/* Styles for the list of links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

/* Styles for individual list items */
.nav-links li {
  margin: 0 25px;
  
}

/* Styles for the links */
.nav-links a {
  text-decoration: none;
  color: #574f4f;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

