nav{
    width: 100%;
    gap: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

.brnlrnm{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.7px solid gray;
    width: 160px;
    height: 40px;
}

.buttondiv{
    position: relative;
    left: 1100px;
    display: flex;
    justify-content: end;
}

.nvl{
    gap: 50px;
    display: flex;
    justify-content: start;
}

.lmc{
    color: gray;
}