/* საერთო სტილები */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* მთავარი გვერდის სტილები */
.hero {
  background-color: #4CAF50;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
}

/* "ჩვენ შესახებ" გვერდის სტილები */
.about-section {
  background-color: #ffeb3b;
  color: #333;
  padding: 50px 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
}

.about-section p {
  font-size: 1.2rem;
}
