body{
  display: flex;
  justify-content: center;
  padding-top: 300px;
  align-items: center;
}

.loading{
  height: 150px;
  width: 150px;
  border: 20px solid #818181;
  border-top: 20px solid #FFFFFF;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  100%{transform: rotate(360deg);}
}