.N4{
    width: 300px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    border-bottom: 35px;
    border-top: 25px;
    border-right: 5px;
    border-left: 15px;
}